.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  max-width: 800px;
}

.controls > div,
.controls > button {
  margin: 0 10px;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 50px;
  width: 100%;
  justify-content: space-between;
}

.visualization-container {
  width: 27vw;
  height: 27vw;
  border: 1px solid black;
  overflow: hidden;
  margin-left: 20px;
}

.visualization {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  position: relative;
}

.grid {
  display: grid;
  gap: 0;
}

.cell {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.wall {
  border: 1px solid black;
}

.no-wall {
  border: none;
}

.cell.path {
  background-color: white;
}

.steps-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-right: 20px;
  padding-left: 10px;
}

.steps-top-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: rgb(237, 54, 22);
  padding: 10px;
  border-radius: 5px;
}

.steps-list {
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 115, 22);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.step {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.step.highlighted {
  background-color: #f0f8ff;
  font-weight: bold;
}

/* Indentation classes */
.indented {
  padding-left: 20px;
}

.indented.deeper {
  padding-left: 40px;
}

.indented.deepest {
  padding-left: 60px;
}

/* Alignment classes */
.left-align {
  text-align: left;
}

.right-align {
  text-align: left;
  margin-left: auto;
}

.path-current {
  background-color: green;
}

.animation-speed-container {
  margin-top: 20px;
  text-align: center;
}