.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.controls > div,
.controls > button {
  margin: 0 10px;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 50px;
  width: 100%; /* Full width to accommodate both containers */
  justify-content: space-between; /* Distribute space between items */
}

.visualization-container {
  width: 27vw; /* Adjust width as needed */
  height: 27vw; /* Adjust based on preference */
  border: 1px solid black;
  overflow: hidden; /* Prevent scrolling */
  margin-left: 150px;
}

.visualization {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  position: relative;
}

.grid {
  display: grid;
  gap: 0; /* No gaps between cells */
}

.cell {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.wall {
  border: 1px solid black;
}

.no-wall {
  border: none;
}

.cell.path {
  background-color: white;
}

.steps-container {
  display: flex;
  flex-direction: row; /* Arrange top row and list horizontally */
  width: 50%; /* Adjust width as needed */
  height: 100%; /* Align height with the maze container */
  margin-right: 20px;
  padding-left: 10px; /* Ensure padding aligns the container properly */
}

.steps-top-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  background-color: rgb(237, 54, 22);
  margin-right: 20px; /* Space between top row and steps list */
}

.steps-list {
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 115, 22);
  width: 100%; /* Ensure it takes the remaining space */
}

.step {
  padding: 5px; /* Add padding to align text better */
  width: 100%;
  box-sizing: border-box;
}

.step.highlighted {
  background-color: #f0f8ff;
  font-weight: bold;
}

/* Indentation classes */
.indented {
  padding-left: 20px; /* Adjust indentation level */
}

.indented.deeper {
  padding-left: 40px; /* Increase indentation level for deeper steps */
}

.indented.deepest {
  padding-left: 60px; /* Increase indentation level for the deepest steps */
}

/* Alignment classes */
.left-align {
  text-align: left; /* Align text to the left */
}

.right-align {
  text-align: left; /* Align text to the right */
  margin-left: auto; /* Push this section to the right */
}


.path-current {
  background-color: green; /* Color for current path */
}

.animation-speed-container {
  margin-top: 20px;
  margin-right: 600px;
  text-align: center;
}
